/* PropertyCard.css */
.property-card {
  background-color:white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  width: calc(29.33% - 16px); 
  display: inline-block;
  box-sizing: border-box;
  margin-left: 50px;
 
  }
  
  .property-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .property-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
    margin-right: 100px;
  }
  
  .property-card p {
    color: #777;
  }
  .property-status {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 5px;
  }
  
  .sale-icon {
    background-color: #ff6347; /* Red color for sale */
  }
  
  .rent-icon {
    background-color: #32cd32; /* Green color for rent */
  }

  .icon-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* You can adjust the margin value to control the spacing */
  }
  
  .icon-row > * {
    margin-right: 10px; /* Adjust the margin to your desired spacing */
  }
  .icon-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
/* Add this to your App.css or your CSS file */
.last-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin: 0; 
}

.book-now {
  background-color: #007bff; 
  color: white;
  border: none; 
  padding: 5px 10px; 
  cursor: pointer;
  border-radius: 20px;
  padding: 10px;
}

.image-container {
  position: relative;
}

.image-btn{
  position: absolute;
  top: 10px; 
  left: 30px; 
  background-color:white; 
  border-radius: 20px; 
  cursor: pointer;
  color: #1100ff;
  padding: 10px;
  
}
.image-container img {
  max-width: 130%;
}
.FavoriteBorderIcon{
  position: absolute;
  top: 10px; 
right: 30px; 
  background-color:white; 
  border-radius: 20px; 
  cursor: pointer;
  color: #1100ff;
  padding: 8px;
  
}
.location {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: 90px;
}
.location-icon {
  color: rgb(240, 154, 122);
}